<a href="https://colab.research.google.com/github/shaownXjony/100-problems_of_python/blob/main/Basic_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 style="text-align: center;","color:blue;">100+ Basic "Python" problems</h1>

### 1. Variable Swap: Write a Python program to swap the values of two variables without using a temporary variable.

In [ ]:
one="Jony"
two="Rony"
one,two=two,one
print("After Swapping: ",one)
print("After Swapping: ",two)

After Swapping:  Rony
After Swapping:  Jony

### 2. Even or Odd: Write a Python program that takes an integer as input and prints whether it is even or odd.

In [ ]:
check_number=int(input("Enter a number: "))
if check_number % 2==0:
  print(check_number,"is an Even number.")
else:
  print(check_number,"is an odd number.")

Enter a number: 33
33 is an odd number.

### 3. String Reverse: Write a Python function to reverse a given string and return the reversed string.

In [ ]:
x="My name is Shaown"
"""x=x[::-1]
print(x)"""


def reverse_string():
  return x[::-1]

reverse_string()

'nwoahS si eman yM'

### 4. Type Conversion: Given a list of integers, write a Python program to convert each element of the list to a string.

In [ ]:
li_num=[1,2,3,4,5,6,7]
b=[str(x) for x in li_num]
print(b)
print(type(b))
rev=" ".join(b)
print(rev)
print(type(rev))

['1', '2', '3', '4', '5', '6', '7']
<class 'list'>
1 2 3 4 5 6 7
<class 'str'>

### 5. Temperature Converter: Write a Python program that converts a temperature in Celsius to Fahrenheit. Take the Celsius temperature as input from the user.

In [ ]:
celsius=float(input("Enter the temperature(celsius): "))
fahrenheit=(celsius*(9/5))+32
print("Tempareture in fahrenheit:",fahrenheit,"F")

Enter the temperature(celsius): 22
Tempareture in fahrenheit: 71.6 F

### 6. Data Type Checker: Write a Python function that takes a variable as input and returns the data type of the variable as a string (e.g., “int”, “float”, “str”, “list”, etc.).

In [ ]:
def data_type(variable):
  return type(variable).__name__

print(data_type("jony"))
print(data_type((1,2,3,4,5)))
print(data_type([1,2,3,4,5]))
print(data_type(1))
print(data_type(3.14))
print(data_type(True))
print(data_type({"Color":"Blue"}))

str
tuple
list
int
float
bool
dict

### 7. String Palindrome: Write a Python function to check if a given string is a palindrome or not.

In [ ]:
def palindrome_check(name):
  if name==name[::-1]:
    print(name,"is a palindrome")
  else:
    print(name,"is not a palindrome")

user_word=input()
palindrome_check(user_word)

civic
civic is a palindrome

### 8. String Reversal with Slicing: Write a Python function to reverse a given string using slicing.

In [ ]:
def rev(name):
  name=name[::-1]
  print("Reverse string is",name)

jony=str(input("Enter a string: "))
rev(jony)

Enter a string: jony
Reverse string is ynoj

### 9. String Concatenation: Write a Python program that takes two strings as input and concatenates them into a single string without using the `+` operator.

In [ ]:
def concatenate_strings(str_1, str_2):
  return" ".join([str_1,str_2])
string_1=input()
string_2=input()
result=concatenate_strings(string_1,string_2)
print(result)

My name is
Jony
My name is Jony

### 10. Typecasting Challenge: Given three variables: `a = ‘100’`, `b = 25`, and `c = ‘10.5’`, write a Python program to perform the following operations and print the results: – Convert `a` to an integer and add it to `b`. – Convert `c` to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

In [ ]:
a="100"
b=25
c="10.5"
a=int(a)
d=a+b
c=float(c)
e=d-c
e=str(e)
print(e)
print(type(e))
print(e, f"is the answer")

114.5
<class 'str'>
114.5 is the answer

### 11. Positive, Negative, or Zero: Write a Python program that takes a number as input and prints whether it is positive, negative, or zero.

In [ ]:
def number(number):
    if number>0:
      print("Postive")
    elif number<0:
      print("negative")
    elif number==0:
      print("Zero")


num=float(input("Enter a number: "))
number(num)

Enter a number: 0
Zero

### 12. Largest of Three Numbers: Write a Python program that takes three numbers as input and prints the largest among them.

In [ ]:
a=int(input())
b=int(input())
c=int(input())

if a>=b and a>=c:
  print(a)
elif b>=a and b>=c:
  print(b)
else:
  print(c)

22
22
22
22

### 13. Leap Year Checker: Write a Python program that takes a year as input and determines if it is a leap year or not.

In [ ]:
#nested if condtion
year=int(input("Enter a year: "))

if year%4==0:
  if year%100==0:
    if year%400==0:
      print(year,"is a leap year")
    else:
      print(year,"is a not leap year")
  else:
    print(year,"is a leap year")
else:
  print(year,"is not a leap year")


#function without nested

def leap_generator(year):
  if (year%4==0 and year%100!=0) or year%400==0:
    print(f"{year} is aleap year")
  else:
    print(f"{year} is not leap year")

check_years=int(input("Enter a year to check: "))
leap_generator(check_years)

Enter a year: 1900
1900 is a not leap year
Enter a year to check: 2024
2024 is aleap year

### 14. Grades Classification: Write a Python program that takes a student’s percentage as input and prints their corresponding grade according to the following criteria: – 90% or above: A+ – 80-89%: A – 70-79%: B – 60-69%: C – Below 60%: Fail

In [ ]:
def grade_classification(percentage):
  if 100>= percentage >= 90:
    return " A+ "
  elif 89>= percentage >=80 :
    return " A "
  elif 79>= percentage >=70 :
    return " B "
  elif 69 >= percentage >=60:
    return " C "
  else:
    return " Fail "

check_grade=float(input("Enter your percentage: "))
print("Your percentage of number",check_grade, "is correspond to",grade_classification(check_grade))

Enter your percentage: 100
Your percentage of number 100.0 is correspond to  A+

### 15. Vowel or Consonant: Write a Python program that takes a single character as input and determines whether it is a vowel or a consonant.

In [ ]:
def vowel_or_consonant(charecters):
  if (charecters =="a" or charecters=="e" or charecters=="i" or charecters=="o" or charecters=="u"):
    return "Vowel"
  else:
    return "Consonant"



check_charecter=input("enter your charecter: ")
check_charecter.islower
print(vowel_or_consonant(check_charecter))

enter your charecter: A
Consonant

### 16. Time Classification: Write a Python program that takes the time in hours (24-hour format) as input and prints “Good Morning”, “Good Afternoon”, “Good Evening”, or “Good Night” based on the time.

In [ ]:
def time_classi(hour):
        if 5 <= hour < 12:
            return "Good Morning"
        elif 12 <= hour < 17:
            return "Good Afternoon"
        elif 17 <= hour < 21:
            return "Good Evening"
        else:
            return "Good Night"

try:
  time=int(input("Enter your time: "))
  print(time_classi(time))
except ValueError:
  print("Invalid input. Enter a integer input")

Enter your time: 12
Good Afternoon

### 17. Triangle Type Checker: Write a Python program that takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.

In [ ]:
def triangle_checker(a,b,c):
  if a+b>c and a+c>b and c+a>b:
    if a== b ==c:
      return "Equilateral"
    elif a==b or a==c or b==c:
      return "Isosceles"
    else:
      return "Scalene"
  else:
    return "Not a triangle"

side_1=float(input())
side_2=float(input())
side_3=float(input())
print(triangle_checker(side_1,side_2,side_3))

2
3
6
Not a triangle

### 18. Quadratic Equation Solver: Write a Python program that takes the coefficients (a, b, c) of a quadratic equation as input and calculates and prints the real roots (if they exist) or a message indicating the complex roots.

### 19. Number Ranges: Write a Python program that takes an integer as input and prints whether the number falls within the ranges: 0-50, 51-100, 101-150, or above 150.

In [ ]:
def number_rangers(number):
  if number in range(0,50):
    return " 0-50 "
  elif number in range(51,100):
    return "51-100"
  elif number in range(101,150):
    return "101-150"
  else:
    return "Above 150"

check_number=int(input("Enter a number to check range: "))
print(number_rangers(check_number))

Enter a number to check range: 333
Above 150

### 20. Sum of N Numbers: Write a Python program using a for loop to calculate the sum of the first N natural numbers, where N is taken as input from the user.

In [ ]:
#with for loop
n=int(input("Enter a natural number: "))
sum=0
for i in range(1,n+1):
  sum=sum+i
  i=i+1
print(f"sum of the first {n} natural numbers : {sum}")

Enter a natural number: 10
sum of the first 10 natural numbers : 55

In [ ]:
#with while loop

n=int(input("Enter a natural number: "))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print(f"sum of the first {n} natural numbers : {sum}")

Enter a natural number: 10
sum of the first 10 natural numbers : 55

### 21. Factorial Calculator: Write a Python program using a while loop to calculate the factorial of a given number N.

In [ ]:
n=int(input("Enter a natural number: "))
fact=1
i=1
while i<=n:
  fact=fact*i
  i=i+1
print(f"The factorial of {n} is {fact}")

Enter a natural number: 6
The factorial of 6 is 720

### 22. Table of a Number: Write a Python program using a for loop to print the multiplication table of a given number N.

In [ ]:
n=int(input("Enter a natural number: "))
print(f"Multiplication of {n} is: ")
for i in range(1,11):
  result=n*i
  print(f"{n}x{i} = {result}")

Enter a natural number: 5
Multiplication of 5 is:
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

### 23. Count Digits in a Number: Write a Python program using a while loop to count the number of digits in a given integer N.

In [ ]:
num=int(input("Enter a number: "))
count=0
while num!=0:
  num=num//10
  count=count+1
print(f"the number of digits in a integer {num} is : {count}")

Enter a number: 1234
the number of digits in a integer 0 is : 4

### 24. Fibonacci Sequence: Write a Python program using a for loop to generate the Fibonacci sequence up to a given limit N.

In [ ]:
num= int(input("Enter a number: "))
print("Fibonacci series: ")
a=0
b=1

if num==1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(2,num):
    c=a+b
    a=b
    b=c
    print(c)

Enter a number: 7
Fibonacci series:
0
1
1
2
3
5
8

In [ ]:
#while loop
num= int(input("Enter a number: "))
print("Fibonacci series: ")
num1=0
num2=1
count=0

while count<num:
  print(num1)
  result=num1+num2
  num1=num2
  num2=result
  count=count+1

Enter a number: 7
Fibonacci series:
0
1
1
2
3
5
8

### 25. Sum of Even Numbers: Write a Python program using a while loop to calculate the sum of all even numbers between 1 and N, where N is taken as input from the user.

In [ ]:
n=int(input("Enter a natural number: "))
sum=0
i=2
while i<=n:
  sum=sum+i
  i=i+2
print(f"sum of the first {n} natural numbers : {sum}")

Enter a natural number: 10
sum of the first 10 natural numbers : 30

### 26. Print Patterns: Write a Python program using nested for loops to print various patterns, such as a right-angled triangle, an inverted right-angled triangle, and so on.

Right-Angled Triangle

In [ ]:
rows = int(input("Enter number of rows: "))
print("Right-Angled Triangle of Stars")

for i in range(1,rows+1):
  print("*"*i)

Enter number of rows: 5
Right-Angled Triangle of Stars
*
**
***
****
*****

Left-Angled Triangle

In [ ]:
rows = int(input("Enter number of rows: "))
print("Left-Angled Triangle of Stars")
for i in range(1,rows+1):
  print(" " * (rows - i) + "*" * i)

Enter number of rows: 5
Left-Angled Triangle of Stars
    *
   **
  ***
 ****
*****

Right-Angled Inverted Triangle

In [ ]:
rows = int(input("Enter number of rows: "))
print("Right-Angled Inverted Triangle of Stars")

for i in range(rows,0,-1):
  print("*"*i)

Enter number of rows: 5
Right-Angled Inverted Triangle of Stars
*****
****
***
**
*

Left-Angled Inverted Triangle

In [ ]:
rows = int(input("Enter number of rows: "))
print("Left-Angled Inverted Triangle of Stars")
for i in range(rows,0,-1):
  spaces=rows-i
  stars= i
  print(" " *spaces + "*"*stars )

Enter number of rows: 5
Left-Angled Inverted Triangle of Stars
*****
 ****
  ***
   **
    *

Pyramid of Stars

In [ ]:
rows = int(input("Enter number of rows: "))
print("Pyramid of Stars")

for i in range(1, rows + 1):
    spaces = rows - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

Enter number of rows: 5
Pyramid of Stars
    *
   ***
  *****
 *******
*********

Inverted Pyramid

In [ ]:
rows = int(input("Enter number of rows: "))
print("Inverted Pyramid of Stars")

for i in range(rows,0,-1):
      spaces = rows - i
      stars = 2 * i - 1
      print(" " * spaces + "*" * stars)

Enter number of rows: 5
Inverted Pyramid of Stars
*********
 *******
  *****
   ***
    *

### 27. Prime Number Checker: Write a Python program using a while loop to check if a given number N is prime or not.

In [ ]:
num=int(input("enter the number :"))
prime = True
for i in range(2, num):
    if num%i==0:
        prime=False
        break
if prime:
  print(num," is a prime number")
else:
  print(num," is a not prime number")

enter the number :5
5  is a prime number

In [ ]:
a = 0
i = 2
n = int(input('Enter the number to check Prime or Not : '))
i = 2
while i <= (n/2):
    if (n%i) == 0:
        a = 1
        break
    else:
        i += 1

if n == 1:
    print('1 is neither')
elif a == 0:
    print(n,' is a prime number.')
elif a == 1:
    print(n,' is not a prime number.')

Enter the number to check Prime or Not : 5
5  is a prime number.

### 28. List Manipulation: Given a list of integers, write a Python program using a for loop to find the sum, average, maximum, and minimum values in the list.

In [27]:
li=[3,4,5,6,22,7,8,3,5,6,9]
sum=0
maximum = li[0]
minimum = li[0]
for i in li:
  sum=sum+i

  if i > maximum:
    maximum = i

  if i < minimum:
    minimum = i

avg=sum/len(li)
print("Length of list",len(li))
print("Sum",sum)
print("Avarage",avg)
print("Maximum",maximum)
print("Minimum",minimum)

Length of list 11
Sum 78
Avarage 7.090909090909091
Maximum 22
Minimum 3

### 29. Reverse String: Write a Python program using a while loop to reverse a given string.

In [36]:
name="JONY"
#print(name[::-1])

i = len(name) - 1

while i >= 0:
    print(name[i],end="")
    i = i - 1

YNOJ

###30. Multiplication Table: Write a Python program using nested loops to print the multiplication table from 1 to 10.

In [44]:
"""num=int(input("Enter a number for multiplication: "))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")"""

print("Multiplication table from 1 to 10.")
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}", end='\n')
    print()

Multiplication table from 1 to 10.
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100